body {
  display: grid;
  grid-template-columns: minmax(16px, 1fr) minmax(0, 1200px) minmax(16px, 1fr);
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

input, button, select, textarea {
  font-family: inherit;
}

app-header, main, footer {
  grid-column: 1 / -1;
}

app-header {
    width: 100%;
    background: #151515;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
    position: relative;
}

main {
    grid-column: 2;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

footer {
    width: 100%;
}